


.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #FFFFFF;
}
.work-sans-normal{
  background-color:#F1F1F3 ;
}
/* first section */
.head-1{
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding:80px;
}
/* first section button */
.sign-option{
  border: 1px solid #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  color: #006A50;
  font-size: 18px;
  font-weight: bold;
}
/* 2nd section  */
.section-1{
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  border-radius: 8px;
  width: 1280px;
  margin: auto;

}
.intro-section{
  padding: 80px;
}
.inro-sectio-first-head{
 font-size: 18px;
 font-weight: bold;
 color:#0E0E0E ;
}
.intro-section-second-head{
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
}
.btn-2{
  background-color: #006A50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 34px 17px;
  border-radius: 8px;
  border: none;
}
/* pillar option */
  .pillar-head-lone{
    font-size: 40px;
    font-weight: bold;
    width: 1280px;
    margin: auto;
  }
/* section 3 */
.box-icon-section{
  display: flex;
  gap: 25px;
  width: 1280px;
  margin: auto;
}
.icon-intro-1{
  gap: 25 px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 24px;

}
/* section-4 */

  .sectino-4-head{
    font-size: 40px;
    font-weight: bold;
    width: 1280px;
    margin: auto;
  }
.dec{
    font-size: 16px;
    color: #0E0E0E;
    width: 1280px;
    margin: auto;
  }
  /* section 5 */
  .section-5-box{
    display: flex;
    gap: 24px;
    width: 1280px;
    margin: auto;
    padding: 32px;
  
  }
  .section-5-head{
    font-size: 20px;
    font-weight: bold;
    color:#0E0E0E ;
  }
  .section-5-dec{
    font-size: 16px;
    color: #0E0E0E ;
  }
  .incon-img{
    background-color: #8fa9d6;
    padding: 32px;
    border-radius: 8px;
    width: 410.67;
    
  }
  .incon-img-2{
    background-color: #C6E4D6;
    padding: 32px;
    border-radius: 8px;
    width: 410.67;
    
  }
  .incon-img-3{
    background-color: #F7EBCF;
    padding: 32px;
    border-radius: 8px;
    width: 410.67;

    
  }
  /* icon img button section */
.icon-img-button{
  background-color: #5490F5;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 20px;

}
.icon-img-button-2{
  background-color: #09A15C;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 20px;

}
.icon-img-button-3{
  background-color: #FFC239;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 20px;
  text-decoration: none;
}
/* section 6 */
.section-6{
  background-color:white ;
  border-radius: 8PX;
  background-image: url(../images/quote-bg.png);
  background-repeat: no-repeat;
  width: 1280px;
  margin: auto;
  border: 0.05px solid rgb(160, 157, 157);
}
.section-6-icon-content{
  padding:24px ;
  width: 1280px;
  margin: auto;
}
.section-6-dec{
  /* font-family:"Work Sans" serif ; */
  font-size: 16px;
  width: 12;

}
  .section-6-head{
    /* font-family:"Work Sans", serif ; */
    font-size: 20px;
    font-weight: bold;
  }
  /* table section */
  .section-7-head{
    width: 1280px;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
  }
  .table-section{
    width: 1280px;
    margin: auto;

  }
  .table,th,td{
    font-size: 16px;
    padding: 32px;
    border: 1px solid;
    border-collapse: collapse;
  }
  .table-head{
    background-color: #C6E4D6;
    padding: 24px;
  }
  .table-data-opt{
    background-color: #C6E4D6;
    padding: 24px;
  }



.section-7-heading{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin: auto;
  width: 1280px;
}
.section-7-dec{
  font-size: 16px;
  width: 1280px;
  margin: auto;
}
/* sectin-8 */
.sectin-8{
  border: 1px solid gainsboro;
  border-radius: 8px;
  display: flex;
  gap: 32px;
  width: 1280px;
  margin: auto;
  padding: 24px;

}
.section-8-img{
  border: 1px solid white ;
  border-radius: 19px;
}
.section-8-head-1{
  font-size: 32px;
  font-weight: bold;
}
.icon-img-button-section-8{
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 20px;
}
/* section */
.section-9{
  width: 1280px;
  margin: auto;
  display: flex;
  gap: 32px;
  padding: 24px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  margin-top: 24px;


}
.section-9-head-1{
  font-size: 32px;
  font-weight: bold;
}
.section-9-dec{
  font-size: 16px; 
 
}